footer {
  padding-top: 10rem;
  margin-top: -10rem;
  background: url("../../images/backgrounds/3.svg"), url("../../images/backgrounds/4.png");
  background-size: contain, cover;
  background-position: top, center;
  background-repeat: no-repeat, no-repeat;
  color: white;
  position: relative;

  ul {
    list-style: none;
    margin: 0;
    font-size: 1rem;
    margin-bottom: 2rem;

    li{
      a{
        transition: opacity 0.3s ease-out;

        &:hover{
          opacity: 0.6;
        }
      }
    }
  }

  ul.nav{
    a{
      color: white;
      font-weight: 500;
      &:hover, &:focus{
        color: white;
      }
    }
  }

  ul.social {
    a {
      font-weight: 500;
      display: flex;
      align-items: center;
      color: white;

      &:hover, &:focus{
        color: white;
      }

      svg {
        margin-right: 10px;
        font-size: 1.3rem;
      }
    }
  }

  .copyright {
    width: 100%;
    font-size: 1rem;
    color: white;
    padding: 2rem 0;
  }
}

@media only screen and (min-width: 576px) {
  footer {
    .info {
      margin-top: 7rem;
      position: absolute;
      bottom: 0;
    }
  }
}

@media only screen and (min-width: 2200px) {
  footer {
    background-size: cover, cover;
  }
}