header {
  margin-top:100px;
  .logo {
    font-weight: bolder;
    img {
      height: 40px;
      margin: 0;
    }
    filter: invert(1);
  }
}


@media screen and (max-width: 992px) {
  header {
    margin-top:20px;
    .logo {
      font-weight: bolder;
      img {
        height: 30px;
        margin: 0;
      }
      filter: invert(1);
    }
  }
}
