.premium-button {
  padding: 0.8rem 1.2rem;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: #fafafa;
  border-radius: 20px;
  border: none;
  outline: none;
  display: block;
  max-width: 210px;
  min-width: 150px;
  text-align: center;
  font-weight: bolder;
  line-height: 1.68;
  letter-spacing: .1rem;
  font-size: 1rem;
  background-color: rgb(220,34,116);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 100%;
}