.banner {
    display: flex;
    align-items: center;
    img{
        width: 90%;
    }
    @media only screen and (max-width: 992px) {
        .image{
            display: none;
        }
    }
    .text {
        margin-top: 10%;
        padding: 1rem;
        color: #fafafa;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-weight: 600;
        h3{
            color: rgb(220,34,116);
        }
        h1{
            font-size:60px;
        }
        p {
            letter-spacing: 0.8px;
        }
        .premium-button{
            margin: auto;
        }
    }
}